BasedOnStyle: LLVM
IndentWidth: 4

BreakBeforeBraces: Allman
ColumnLimit: 100

AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false

AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: false